/* {
	border: 1px solid black;
}*/
body {
	background-color: rgba(20,20,200,1);
	overflow: hidden;
	position: absolute;
}
.box {
	/*background-color: rgba(20,130,70,0.3);*/
}
.solid {
	background-color: rgba(100,150,70,1.0);
}
.container {
}
.airplane {
	position: fixed;
	width: 200px;
	height: 200px;
	background-color: none;
	color: white;
	z-index: 1000;
	left: calc(50vw - 100px);
	top: calc(50vh - 100px);
	font-size: 200px;
	text-align: center;
}
