/* {
	border: 1px solid black;
}*/
body {
	background-color: rgba(20,20,200,1);
	overflow: hidden;
	position: absolute;
}
.box {
	/*background-color: rgba(20,130,70,0.3);*/
}
.solid {
	background-color: rgba(100,150,70,1.0);
}
.container {
}
.random_airplane {
	position: absolute;
	z-index: 100000;
	width: 100px;
	background-image: url(fighter_jet.png);
	transform-origin: center center;
	left: 100px;
	top: 100px;
}
.airplane_fire {
	z-index: -10000;
	background-image: url(fighter_jet_fire.png);
}
.airplane {
	position: fixed;
	width: 100px;
	z-index: 10000;
	left: calc(50vw - 50px);
	top: calc(50vh - 50px);
	transform-origin: center center;
	padding: auto;
}
.airport {
	z-index: 9000;
	position: absolute;
	background-image: url(aircraft_carrier_bigger.png);
	background-repeat: no-repeat;
	width: 1310px;
	height: 480px;
}
.compass {
	z-index: 9999;
	position: fixed;
	width: 50px;
	height: 50px;
	font-size: 50px;
	color: silver;
	left: calc(50vw - 50px);
	top: calc(85vh - 50px);
}
.radar {
	z-index: 8999;
	position: fixed;
	width: 50px;
	height: 50px;
	font-size: 50px;
	color: red;
	left: calc(50vw - 50px);
	top: calc(85vh - 50px);
	border: 1px solid gray;
}
.tire_screech {
}
.bomb {
	z-index: 8998;
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: silver;
	border-radius: 100px;
	overflow: visible;
}
.explosion {
	z-index: 8999;
	position: absolute;
	background-color: yellow;
	width: 100px;
	height: 100px;
	border-radius: 100px;
}
.fuel_clock {
	float: left;
	z-index: 8999;
	position: fixed;
	font-size: 20px;
	color: black;
	left: calc(50vw - 180px);
	top: calc(90vh - 50px);
	width: 100vw;
	height: 100vh;
	padding-left: auto;
	padding-right: auto;
	background-image: url(jet_cockpit.png);
	background-repeat: no-repeat, no-repeat;
	padding-bottom: 200px;
	margin-top: -200px;
	overflow: visible;
}
.clock {
	float: left;
	/*background-color: lightgrey;
	border: 4px solid grey;
	border-radius: 100px;*/
	width: 100px;
	height: 100px;
	text-align: center;
	margin-top: 220px;
}
.clock>p {
	color: lime;
	padding: 0px;
	width:80px;
	margin-left: 60px;
}
.terminal {
	color: lime;
	float: left;
	background-color: black;
	border: 4px solid grey;
	border-radius: 2px;
	width: 130px;
	height: 90px;
	margin-left: 50px;
	margin-top: 200px;
	font-size: 15px;
}
